/* block_announcements styles */

.block-announcements-tiles {
    .announcement-tile {
        transition: box-shadow 0.15s ease;
        box-shadow: 0px 2px 5px 0px #0000004d !important;
        border: solid 1px #e63612 !important;

        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1rem;
            color: #4a4444;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .card-text {
            font-size: 0.875rem;
            color: #4a4444;
        }
    }
}

[data-region="block-announcements"] {
    transition: opacity 0.2s ease;

    &.block-announcements-loading {
        opacity: 0.5;
        pointer-events: none;
    }

    .pagination .page-link[data-page] {
        cursor: pointer;
    }
}
